<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('./nav') %> 
    <h1>Main page</h1>
    <div id="maindiv">

    </div>
</body>

    <script defer>
        const maindiv = document.getElementById('maindiv')

        const getData = async ()=>{
            const url = 'http://localhost:5000/posts'
            const data = await ((await fetch(url)).json())
            console.log(data)

            data.map((post)=>{
                const div = document.createElement('div')
                div.innerHTML = `
                    <h2><a href="http://localhost:5000/post/${post.id}">${post.title}</a></h2>
                    <h3>Author: ${post.author}</h3>
                    <p>${post.body}</p>
                    <br/>
                `
                maindiv.appendChild(div)
            })
        }

        getData();
    </script>

</html>